#allCharacters {
	text-align: center;
	width:100%;
}
.character {
	height: 200px;
}
.card {
	float: left;
	text-align: center;
	width: 25%;
}
#human {
	width: 100%;
	float: left;
	text-align: center;
	background-color: green;
}
#attack {
	clear: both;
	text-align: center;
}
#currentEnemy {
	width: 100%;
	float: left;
	text-align: center;
	background-color: blue;
}

#enemies {
	clear:both;
	text-align: center;
}
#attackButton {
	margin: 20px;
}