header {
	width:100%;
	text-align: center;
}
.headerImage {
	width:70%;
}
.left {
	float:left;
	width:25%;
}
#allCharacters {
	text-align: center;
	width:100%;
	float: left;
}
.character {
	height: 200px;
}
.card {
	/*float: left;*/
	text-align: center;
	/*width: 25%;*/
}
#human {
	width: 100%;
	height:400px;
	float: left;
	text-align: center;
	display: none;
	margin
	/*background-color: green;*/
}
#attack {
	clear: both;
	text-align: center;
	display: none;
}
#currentEnemy {
	width: 100%;
	height:400px;
	float: left;
	text-align: center;
	display: none;
	/*background-color: blue;*/
}

#enemies {
	clear:both;
	text-align: center;
	display: none;
}
#attackButton {
	margin: 20px;

}
#VS {
	width: 100%;
	height:400px;
	padding-top: 146px;
	display: none;
}
.col-md-2 {
    text-align: center;
}
h2 {
	text-decoration: underline;
	margin-bottom: 15px;
	color: yellow;
}
#newGame {
	clear: both;
	text-align: center;
	display: none;
	height: 500px;
}
#playAgain {
	margin-top: 200px;
}