header {
	width:100%;
	text-align: center;
}
.headerImage {
	width:70%;
}
.left {
	float:left;
	width:25%;
}
#allCharacters {
	text-align: center;
	width:100%;
	float: left;
}
.character {
	height: 200px;
}
.card {
	/*float: left;*/
	text-align: center;
	/*width: 25%;*/
}
#human {
	height:400px;
	text-align: center;
	display: none;
	margin
	/*background-color: green;*/
}

#attack {
	clear: both;
	text-align: center;
	display: none;
}
#currentEnemy {
	height:400px;
	text-align: center;
	display: none;
	/*background-color: blue;*/
}

#enemies {
	clear:both;
	text-align: center;
	display: none;
}
#attackButton {
	margin: 20px;

}
#VS {
	width: 100%;
	height:400px;
	padding-top: 146px;
	display: none;
}
.col-md-2 {
    text-align: center;
}
h2 {
	text-decoration: underline;
	margin-bottom: 15px;
	color: yellow;
	font-size:26px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 20px;	
}
#newGame {
	clear: both;
	text-align: center;
	display: none;
	height: 500px;
}
#playAgain {
	margin-top: 200px;
}
#playerCard {
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}
.playerCardAttack {
	margin-left: 150px;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}
#playerDamageDealt {
	height:400px;
	padding-top: 146px;
	font-size: 20px;
	color: red;
}


#currentEnemyCard {
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}
.enemyCardAttack {
	margin-right: 150px;
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;
}
#enemyDamageDealt {
	height:400px;
	padding-top: 146px;
	font-size: 20px;
	color: red;
}